{{ define "main" }}
<div class="container py-5">
    <header>
        <h1>{{ .Title }}</h1>
        <div class="content">
            {{ .Content }}
        </div>
    </header>

    <div class="projects-timeline">
    
    {{ if site.Data.projects }}
        {{ partial "timeline-projects.html" (dict "context" . "projects" site.Data.projects) }}
    {{ else }}
        <div class="alert alert-warning" role="alert">
            No public GitHub projects found or the data action has not run yet.
        </div>
    {{ end }}

    </div>
</div>
{{ end }}