{{ $page := .context }}

{{ range .projects }}
    {{ $repo := . }}

    {{ $githubShortcode := printf "{{< github repo=\"%s\" >}}" $repo.full_name }}

    {{ $header := $repo.name }}

    {{ $badgeDate := dateFormat "January 2006" $repo.updated_at }}

    {{ $date := dateFormat "2006-01-02" $repo.updated_at }}
    
    {{ $shortcode := printf "\n{{< timelineItem header=\"%s\" date=\"%s\" icon=\"github\" badge=\"%s\" >}}\n%s\n{{< /timelineItem >}}\n" $header $date $badgeDate $githubShortcode }}
    
    {{ $page.Scratch.Add "timelineItems" $shortcode }}
{{ end }}

{{ if $page.Scratch.Get "timelineItems" }}
    {{ $finalShortcode := printf "{{< timeline >}}%s{{< /timeline >}}" ($page.Scratch.Get "timelineItems") }}
    {{ $page.Scratch.Set "finalTimeline" $finalShortcode }}
{{ end }}