{{ $page := .context }}

{{ range .projects }}
    {{ $repo := . }}

    {{ $githubShortcode := printf "{{< github repo=\"%s\" >}}" $repo.full_name }}

    {{ $header := printf "<a href='%s' target='_blank' rel='noopener'>%s</a>" $repo.html_url $repo.name }}
    {{ $subtitle := printf "%s | ⭐ %d | 🍴 %d" $repo.language (int $repo.stargazers_count) (int $repo.forks_count) }}
    {{ $date := dateFormat "2006-01-02" $repo.updated_at }}
    
    {{ $content := printf "%s\n%s" $subtitle $githubShortcode }}
    
    {{ $shortcode := printf "\n{{< timelineItem title=\"%s\" date=\"%s\" >}}\n%s\n{{< /timelineItem >}}\n" $header $date $content }}
    
    {{ $page.Scratch.Add "timelineItems" $shortcode }}
{{ end }}

{{ if $page.Scratch.Get "timelineItems" }}
    {{ $finalShortcode := printf "{{< timeline >}}%s{{< /timeline >}}" ($page.Scratch.Get "timelineItems") }}
    {{ $page.Scratch.Set "finalTimeline" $finalShortcode }}
{{ end }}